<!DOCTYPE html>
<html>

<head>
    <title>Draw A Number!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        body {
            background-color: #000;
            color: green;
        }

        h1 {
            color: green;
        }

        #canvas {
            border: 4px solid green;
            background-color: #000;
        }

        #submit {
            background-color: green;
            color: #000;
        }

        #predicted-label {
            color: green;
            font-size: 1.2rem;
            margin-top: 1rem;
        }
    </style>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-thirds-mobile is-half-tablet is-one-third-desktop">
                    <h1 class="title" style="color: green;">Draw A Number!</h1>
                    <canvas id="canvas" width="280" height="280"></canvas>
                    <br>
                    <div id="predicted-label"></div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>
